* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
   margin-top: 20px;
   background-color:gray;
   font-size: 15px;
   
}
h1 {
  text-align: center
}
body {
    display: flex;
    flex-direction: column;
}
.questionBox, .resultBox, .responseBox {
  padding: 5px;
  border: 2px grey solid;
}

.logo {
  display:flex;
  background-color: white;
  border: 2px lightgrey solid;
  padding: 5px;
  height:75px;
  width:75px;
  text-align: center;
  font-size: 30px;
}
img {
  height:80px;
  width:80px;
  display: flex;
  flex-direction: column;
}

button {
  height:30px;
  width:70px;
}

.quizBox {
  border: 2px lightgrey solid;
}
